<div class="container" id="skills" data-aos="slide-right" data-aos-duration="900">
    <div class="text">
        <h1>Skills</h1>
    </div>
    <div class="sliderContainer">
        <div class="slider">
            <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                <div>
                    <img src="assets/img/icons/{{i}}.png">
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="icon" *ngFor="let _ of [].constructor(10); let i = index">
                <div>
                    <img src="assets/img/icons/{{i}}.png">
                </div>
            </div>
        </div>
        <div class="shadow left">
        </div>
        <div class="shadow right">
        </div>
    </div>
</div>