<footer>
        <a id="imprint" (click)="linkToImprint()">Imprint - Legal Notice</a>
        <div>
                <a href="https://www.linkedin.com/in/paul-block-59b269272/" target="_blank"><img class="invert"
                                src="assets/img/linkedIn.png" alt=""></a>
                <a href="https://github.com/paul-block" target="_blank"><img class="invert" src="assets/img/gitHub.png"
                                alt=""></a>
                <a href="mailto:mail@paul-block.de"><img src="assets/img/Email button.png" alt=""></a>
        </div>
</footer>