<div class="container" id="about">

    <div id="imgTextDiv" class="flex-row" data-aos="fade-down">
        <!-- <img src="" alt=""> -->
        <div id="imgTemplate"></div>

        <div>
            <span>About me.</span>
            <p>
                Hello! My name is Paul, and ever since my first encounter with web development, I've been deeply
                passionate about coding. I'm eager to contribute my skills and unique perspective to your team while
                continually learning and refining my abilities. In my free time, I love discovering new places and
                experiencing diverse cultures, which has broadened my adaptability, global perspective, and
                environmental consciousness.
            </p>
        </div>
    </div>

    <div id="line"></div>

    <div class="flex-row-second" data-aos="fade-down">
        <div class="myStory">
            <div class="ellipse">
                <img src="assets/img/walk-line.png" alt="">
            </div>
            <h2>Introducing Myself</h2>
            <p>I am a passionate self-taught developer from Germany, I've honed my skills in Angular and JavaScript by
                completing a
                comprehensive training program at the 'Developer Academy' based in Munich.

            </p>
        </div>
        <div class="myStory">
            <div class="ellipse">
                <img src="assets/img/heart-line.png" alt="">
            </div>
            <h2>Eager to Learn</h2>
            <p>There, I learned how to create web apps and websites on my own. My curiosity and ability to learn quickly
                have allowed me to navigate and grow in the fast-paced world of web development.
            </p>
        </div>
        <div class="myStory">
            <div class="ellipse">
                <img src="assets/img/search-line.png" alt="">
            </div>
            <h2>Reliable Contributor</h2>
            <p>By granting me the opportunity to showcase my skills, I am confident that I will surpass your
                expectations and become a valuable asset to your organization.
            </p>
        </div>
        <div class="myStory">
            <div class="ellipse">
                <img src="assets/img/flight-takeoff-line.png" alt="">
            </div>
            <h2>Committed Journey</h2>
            <p> I'm dedicated to continually expanding my development skills and knowledge, always striving to deliver
                the best possible results in my work.</p>
        </div>
    </div>
</div>