.container {
    padding: 80px 420px;
    background-color: #d3d3d320;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #imgTemplate {
        width: 200px;
        height: 200px;
        margin-right: 160px;
        background-color: #2A3647;
        border-radius: 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2A3647;

        span {
            font-size: 64px;
            font-weight: 600;
        }

        p {
            font-size: 20px;
            width: 50ch;
            line-height: 28px;
        }
    }
}



#line {
    margin: 80px 0;
    width: 55%;
    height: 1px;
    background-color: #2A3647;
}

.flex-row-second {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    gap: 80px;
  
        .myStory {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .ellipse {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                background-color: #2A3647;
                border-radius: 50%;
            }

            h2 {
                text-align: center;
            }

            p {
                font-size: 20px;
                max-width: 45ch;
                text-align: center;
                line-height: 28px;
            }
        
        }
}

.white {
    filter: invert(1) brightness(2);;
}

@media (max-width: 900px) {
    .container {
        padding: 20px 10px !important;
    }

    .flex-row {
        p {
            width: 30ch !important;
        }
    }

    .flex-row-second {
        gap: 40px;
    }
}

@media (max-height: 800px) {
    .flex-row {
        width: 100%;
    }
}

@media (max-width: 1700px) {
    #imgTemplate {
        display: none;
    }

    #imgTextDiv {
        display: flex;
        justify-content: center;

        p {
            max-width: 40ch;
        }
    }

   .flex-row-second {
    flex-wrap: wrap;
    min-width: 45ch;
   }
}

@media (max-width: 2000px) {
    .container {
        padding: 80px 120px;
    }
}