nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 100px 1px 100px;
}

#desktopLinks {

a {
    position: relative;
    text-decoration: none;
  }
  
  a span {
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
  
  a span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: left 0.3s ease-in;
  }
  
  a:hover span:after {
    left: 0;
  }
}

.logo img {
    width: 200px;
    padding: 5px 0px;
}

#mobileLinks {
    display: none;

    &:hover{
        cursor: pointer;
    }
}

.links {
    display: flex;
    gap: 60px;
    a {
        font-family: 'Inter';
        font-weight: 600;
        color: #2A3647;
        text-decoration: none;
    }
    a:hover {
        color: rgb(67, 178, 247);
        transition-duration: 125ms;
    }
}


#mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    gap: 32px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
 

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
            font-size: 24px;
            font-weight: 600;
        }

        span {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            font-size: 24px;
            z-index: 999;
            cursor: pointer;
            color: black;
        }
  }
  
  .show-menu {
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .colorChanged {
    filter: invert(1) brightness(0.6) sepia(1) hue-rotate(210deg) saturate(4);
}
  
@media (max-width: 900px) {
    nav {
        height: 50px;
    }

    .logo {
        display: none;
    }

    #desktopLinks {
        display: none;
    }

    #mobileLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        right: 10px;
        left: 10px;

            #mobileLogo {
                width: 175px;
                padding: 5px 0;
            }

            #mobileMenuIcon {
                height: 20px;
            }
    }
}

@media (min-width: 2000px) {
    nav {
        padding: 0 400px 1px 400px;
    }
}

