nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 400px 0 400px;
}

.links {
    display: flex;
    gap: 60px;
    a {
        font-family: 'Inter';
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        color: rgb(255, 118, 33);
        transition-duration: 125ms;
    }
}

@media (max-width: 1550px) {
   nav {
        padding: 0 100px;
   }
}

@media (max-height: 800px) {
    nav {
        padding: 0 10rem;
    }
} 

