<nav>
    <div class="logo">
        <a routerLink="/">
            <img src="assets/img/BlackAndWhiteLogo.png" alt="Logo">
        </a>
    </div>

    <div id="desktopLinks" class="links">
        <a href="" (click)="scrollToElement('home', $event)">HOME</a>
        <a href="" (click)="scrollToElement('about', $event)">ABOUT</a>
        <a href="" (click)="scrollToElement('portfolio', $event)">PORTFOLIO</a>
    </div>

    <div id="mobileLinks" (click)="toggleMobileMenu()">
        <img src="assets/img/Menu_icon.png" alt="Menu icon">
    </div>

    <div id="mobileMenu" [ngClass]="{'show-menu': showMobileMenu}">
        <span (click)="toggleMobileMenu()">x</span>
        <a href="" (click)="scrollToElementMobile('home', $event)">HOME</a>
        <a href="" (click)="scrollToElementMobile('about', $event)">ABOUT</a>
        <a href="" (click)="scrollToElementMobile('portfolio', $event)">PORTFOLIO</a>
    </div>
</nav>