<div class="container" id="formComponent" data-aos="fade-down" data-aos-duration="900">

    <div id="headlineContainer">
        <span id="headline">Contact me.</span>
        <p>Have I sparked your interest? <br> Let's get in touch via the form below and I'm looking forward to connect
            with you.
        </p>
    </div>

    <form (ngSubmit)="sendMail($event)">
        <div class="row">
            <label>Name
                <input required name="name" [(ngModel)]="nameField" placeholder="Enter your name">
                <span class="formError" *ngIf="nameFieldError">Please enter your name</span>
            </label>
            <label>Email address
                <input required name="email" [(ngModel)]="emailField" placeholder="Enter your Email address">
                <span class="formError" *ngIf="emailFieldError">Please enter a valid email address</span>
            </label>
        </div>

        <label>Message
            <textarea required name="message" [(ngModel)]="messageField" cols="30" rows="10"
                placeholder="Enter your message"></textarea>
            <span class="formError" *ngIf="messageFieldError">Please enter a message</span>
        </label>
        <button type="submit">Send</button>
    </form>
    <app-email-pop-up></app-email-pop-up>

</div>