.container {
    padding: 80px 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 50%;
        margin-bottom: 32px;
    }

     #headline {
        display: flex;
        font-size: 64px;
        font-weight: 600;
        color: #2A3647;
     }

     p {
        color: #2A3647;
        font-size: 20px;
     }

     form {
        width: 50%;
        display: flex;
        flex-direction: column;
        color: #2A3647;


        span {
            font-size: 18px;
            margin: 16px 0;
            color: #2A3647;
        }

        input {
            height: 30px;
            background-color: white;
            border: none;
            border-bottom: 2px solid #2A3647;
            color: #2A3647;
            padding: 8px;
        }

        textarea {
            background-color: white;
            color: #2A3647;
            padding: 8px;
            border: none;
            border-bottom: 2px solid #2A3647;
            font-family: 'Inter';
            resize: none;
        }

        input:focus, textarea:focus {
            outline: none;
            border: 1px solid #2A3647;
            border-radius: 10px;
            box-shadow: 0 0 5px #2A3647;
            transition: border 125ms, box-shadow 125ms;
          }

        button {
            align-self: flex-end;
            margin-top: 16px;
            width: 150px;
            height: 50px;
            background-color: transparent;
            color: #2A3647;
            border: 2px solid #2A3647;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 125ms ease-in-out;

            &:hover {
                background-color: #2A3647;
                color: white;
            }
        }
     }
}

@media (max-width: 2000px) {
    .container {
                div {
                    width: 100%;
                }
            }

            form {
                width: 100% !important;
            }
}


@media (max-width: 1000px) {
    .container {
        padding: 20px 100px;

        div {
            width: 100%;

            form {
                width: 100% !important;
            
            }
        }
    }

    
}

@media (max-height: 800px) {
    .container {
                div {
                    width: 100%;
                }
             }

            form {
                width: 100% !important;
            }
}

@media (max-width: 900px) {
    .container {
        padding: 20px 10px!important;
    }

    #headline {
        text-align: center;
    }
}

@media (max-width: 2000px) {
    .container {
        padding: 80px 120px;
    }
}