<div class="container" id="formComponent">

    <div data-aos="fade-down">
        <span id="headline">Contact me.</span>
        <p>Get in touch via the form below, or by emailing paulblock.dev@gmail.com
        </p>
    </div>

    <form (submit)="sendMail()" ngNativeValidate data-aos="fade-down" #myForm>
        <span>Name</span>
        <input required name="name" type="text" placeholder="Enter your name" #nameField>
        <span>Email address</span>
        <input required type="email" #emailField placeholder="Enter your Email address">
        <span>Message</span>
        <textarea required name="message" cols="30" rows="10" placeholder="Enter your message" #messageField></textarea>

        <button type="submit" #sendButton>Send</button>
    </form>

    <app-email-pop-up #popup></app-email-pop-up>

</div>