.container {
    position: relative;
    padding: 80px 420px;
    background-color: #d3d3d32b;
}

span {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter';
    text-align: center;
    color: #2A3647;
    margin-bottom: 48px;
    min-width: 270px;
}

#animationDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
    width: 50%;
    gap: 80px 80px;
    min-width: 260px;

    .bounceEffect {
        transition: transform 0.4s ease-in-out;
    }
    
    .bounceEffect:hover {
        animation: bounceEffect 0.4s;
        cursor: pointer;
    }

}

.linkContainer {
    display: flex;
    gap: 50px;    

        a:hover {
            scale: 1.1;
            cursor: pointer;
        }
}

.colorChanged {
    filter: invert(1) brightness(0.6) sepia(1) hue-rotate(210deg) saturate(4);
}

@keyframes bounceEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

// @media (max-width: 1860px) {
//     .imgContainer {
//         width: 100%;
//         gap: 100px 100px;
//     }
// }

// @media (max-height: 800px) {
//     .imgContainer {
//         width: 100%;
//     }
// }

// @media (max-width: 1000px) {
//     .imgContainer {
//         width: 100%;
//     }
// }

@media (max-width: 900px) {
    .container {
        padding: 20px 10px !important;
    }

    span {
        margin-bottom: 0;
    }

    .imgContainer {
        margin-top: 60px;
    }
}

@media (max-width: 2000px) {
    .container {
        padding: 80px 120px;
    }
}
