<div class="container" id="skillComponent">
    <div id="animationDiv" data-aos="fade-up">

        <span>My skills</span>

        <div class="imgContainer">
            <img *ngFor="let path of imgPaths;" src="assets/img/{{ path }}.png" class="bounceEffect colorChanged"
                alt="">
        </div>




        <!-- <div class="rightContainer">
            <span>My skills</span>
            <div class="linkContainer">
                <a href="https://github.com/paul-block" target="_blank">
                    <img src="assets/img/Githubbutton.png" alt="" class="colorChanged"></a>
                <a (click)="scrollToForm()"> <img src="assets/img/Email button.png" alt="" class="colorChanged"></a>
                <a href="https://www.linkedin.com/in/paul-block-59b269272/" target="_blank">
                    <img src="assets/img/Vector.png" alt="" class="colorChanged"></a>
            </div>
        </div> -->
        <!-- </div> -->
    </div>