<div class="container">
    <span data-aos="fade-down" data-aos-duration="900">Portfolio</span>

    <div class="technologies-wrapper" data-aos="fade-down" data-aos-duration="900">
        <button *ngFor="let technology of technologies" (click)="selectCategory(technology)"
            [ngClass]="{'selected': selectedTechnology === technology}">
            {{ technology }}
        </button>
    </div>

    <div class="projects-wrapper">
        <ng-container *ngFor="let project of projects">
            <div *ngIf="showSelectedProjects(project)">
                <div class="flex-row" data-aos="slide-left" data-aos-duration="900">
                    <div class="image-container">
                        <img [src]="project.imageUrl" alt="">
                    </div>
                    <div class="flex-coloumn-text">
                        <p>{{ project.title }}</p>
                        <p>{{ project.technologies.join(' | ') }}</p>
                        <p>{{ project.description }}</p>
                        <div class="row">
                            <a [href]="project.githubUrl" target="_blank" rel="noopener noreferrer">
                                <button>GitHub</button>
                            </a>
                            <a [href]="project.liveTestUrl" target="_blank">
                                <button>Live Test</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>


    </div>
</div>