svg {
     &.filter {
         display: none;
 }   
}

.container {
    padding: 80px 120px;
    background-color: #ffffff;

    #animationDiv {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .headlineAndLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;

    p {
        margin: 0;
        font-family: 'Inter';
        font-weight: bold;
        font-size: 64px;
        color: #2A3647;
        margin-bottom: 64px;
    
        #name {
            color: rgb(67, 178, 247);
        }

        #letter {
            color: rgb(67, 178, 247);
        }
    }

    #imgTemplateDesktop {
        min-width: 350px;
        min-height: 350px;
        background-color: #2A3647;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

            img {
                width: 300px;
                margin-top: -80px;
            }
    }

    #imgTemplateMobile {
        display: none;
        min-width: 200px;
        min-height: 200px;
        background-color: #2A3647;
        border-radius: 50%;
    }
    }

    button {
        position: relative;
        padding: 16px;
        width: 300px;
        height: 60px;
        background-color: rgb(67, 178, 247);
        border: 2px solid rgb(67, 178, 247);
        border-radius: 10px;
        color: white;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 160px;
        filter: url('#gooey');
        cursor: pointer;

        &:hover {
            color: #2A3647;
        }

        &:focus {
            outline: none;
        }

        .bubbles {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        
            .bubble {
                background-color: rgb(67, 178, 247);
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                z-index: -1;

                &:hover {
                    background-color: white;
                }

                @for $bubble from 1 through 10 { 
                    &:nth-child(#{$bubble}) {
                        $size: 25px;
                        left: (random(90) + 10) + px;
                        width: $size;
                        height: $size;
                        animation: move-#{$bubble} #{3 + $bubble* 0.02}s infinite;
                        animation-delay: #{$bubble * 0.2}s;
                    }
                    
            }

            @for $bubble from 1 through 10 { 
              @keyframes move-#{$bubble} {
                0% {
                    transform: translate(0, 0);
                }

                99% {
                    transform: translate(0, -(random(80) + 50)+px);
                } 
                100% {
                    transform: translate(0, 0);
                    opacity: 0;
                }
              }  
            }
                }
            }
        }
    }

    .linkContainer {
        position: absolute;
        bottom: 90px;
        left: 50px;
        display: flex;
        gap: 50px;    
    
            a:hover {
                scale: 1.1;
                cursor: pointer;
            }
    }

    .colorChanged {
        filter: invert(1) brightness(0.6) sepia(1) hue-rotate(210deg) saturate(4);
    }
    
    #scrollDown {
        position: absolute;
        bottom: 0;
        right: 0;
        writing-mode: vertical-lr;
        font-family: 'Inter';
        font-weight: 600;
        cursor: pointer;
        color: #2A3647;
        animation: scrollDownAnimation 10s infinite ease-in-out;
    }

    @keyframes scrollDownAnimation {
        0%, 10%, 30%, 50%, 70%, 90% {
            transform: translateY(0px);
            opacity: 1;
        }
        20%, 40%, 60%, 80%, 100% {
            transform: translateY(10px);
            opacity: 1;
        }
    }

@media (min-width: 2000px) {
    .container {
        padding: 80px 420px;
    }
}

@media (min-width: 900px) {
    :host {
        display: block;
        padding-top: 85px;
    }
}

@media (max-width: 900px) {
    #imgTemplateDesktop {
        display: none !important;
    }

    .headlineAndLogo {
        flex-direction: column;
    }
    
    #imgTemplateMobile {
        display: flex !important;
    }

    .container {
        padding: 40px 20px;
    }

    button {
        width: unset !important;
        margin-bottom: 0 !important;
    }

    #scrollDown {
        display: none;
    }

    .linkContainer {
     display: none;
    }
}
