.container {
    padding: 80px 10%;
    height: calc(100vh - 361px);
    display: flex;
    align-items: center;
    justify-content: center;

        #content-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;

            .text-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                cursor:default;

                .vertical {
                    color: #fff;
                    writing-mode: vertical-lr;
                    letter-spacing: -2px;
                    rotate: 180deg;
                    font-size: 64px;
                    font-weight: 600;
                    font-family: 'Space Mono';
                }

                p {
                    color: #fff;
                    font-family: 'Space Mono';
                    font-weight: 600;
                    font-size: 64px;
                }

                      .text-animation {
                        display: flex;
                        white-space: nowrap;
                        overflow: hidden;
                        animation: type 1.5s linear;
                        color: #fff;
                        font-size: 32px;
                      }
              
                      @keyframes type {
                        0% {
                          width: 0;
                        }
                        100% {
                          width: 100%;
                        }
                      }
            }

    svg {
        &.filter {
            display: none;
    }   
   }
    
    #gooey-button {
        position: relative;
        padding: 16px;
        width: 300px;
        height: 60px;
        background-color: #fff;
        border: 2px solid #fff;
        color: #000;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 160px;
        filter: url('#gooey');
        cursor: pointer;
        transition: all 125ms linear;

        &:hover {
            font-size: 18px;
        }

        &:focus {
            outline: none;
        }

        .bubbles {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        
            .bubble {
                background-color: #fff;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                z-index: -1;

                &:hover {
                    background-color: white;
                }

                @for $bubble from 1 through 10 { 
                    &:nth-child(#{$bubble}) {
                        $size: 25px;
                        left: (random(90) + 10) + px;
                        width: $size;
                        height: $size;
                        animation: move-#{$bubble} #{3 + $bubble* 0.02}s infinite;
                        animation-delay: #{$bubble * 0.2}s;
                    }
                    
            }

            @for $bubble from 1 through 10 { 
              @keyframes move-#{$bubble} {
                0% {
                    transform: translate(0, 0);
                }

                99% {
                    transform: translate(0, -(random(80) + 50)+px);
                } 
                100% {
                    transform: translate(0, 0);
                    opacity: 0;
                }
              }  
            }
          }
        }
    }

    .linkContainer {
        position: absolute;
        bottom: 90px;
        left: 50px;
        display: flex;
        gap: 50px;    

            a {
                transition: all 125ms linear;
            }
    
            a:hover {
                scale: 1.1;
                cursor: pointer;
            }
        }
    } 
}

@media (max-height: 800px) {
    .container {
        height: unset;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 50px 20px;
        height: calc(100vh - 150px);
 
        .text-wrapper {
            flex-direction: column;

            p {
                font-size: 32px !important;

                #name {
                    min-width: fit-content;
                }
            }
        }

        button {
            width: unset !important;
            margin-bottom: 0 !important;
        }
    
        .linkContainer {
            left: 50% !important;
            bottom: -50px !important;
            transform: translateX(-50%);
        }
    }
}

