<div class="container" id="home">

    <div id="content-wrapper" data-aos="fade-down" data-aos-duration="900">
        <div class="text-wrapper">
            <p> Paul Block
                <span class="text-animation">FRONTEND DEVELOPER</span>
            </p>
        </div>

        <svg class="filter" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" type="matrix" values="
                    1 0 0 0 0 
                    0 1 0 0 0 
                    0 0 1 0 0
                    0 0 0 19 -9
                    " result="highContrestGraphic" />
                    <feComposite in="SourceGraphic" in2="highContrestGraphic" operator="atop" />
                </filter>
            </defs>
        </svg> <button id="gooey-button" (click)="scrollToForm()">
            Contact me
            <span class="bubbles">
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </span>
        </button>

        <div class="linkContainer">
            <a href="https://github.com/paul-block" target="_blank">
                <img src="assets/img/Githubbutton.png" alt="" class="colorChanged"></a>
            <a (click)="scrollToForm()"> <img src="assets/img/Email button.png" alt="" class="colorChanged"></a>
            <a href="https://www.linkedin.com/in/paul-block-59b269272/" target="_blank">
                <img src="assets/img/Vector.png" alt="" class="colorChanged"></a>
        </div>
    </div>
</div>